---
import { getCollection } from "astro:content";
import BlogCard from "../components/BlogCard.astro";
import NavBar from "../components/NavBar.astro";

const blogs = (await getCollection("blog"))
---

<!doctype html>
<html lang="en">
  <head> </head>

  <body
    id="root"
    class="w-full flex flex-col h-screen items-center justify-center"
  >
    <div id="navbar+title" class="flex flex-col w-full gap-6 max-w-xl">
      <NavBar />
      <h1 class="text-7xl font-medium tracking-tighter">
        Hey ! I am Ragapriya
      </h1>
      {
        blogs.map((blog) => (
          <BlogCard
            title={blog.data.title}
            date={blog.data.pubDate}
            slug={blog.slug}
						lastActive={blog.data.lastActive}
          />
        ))
      }
    </div>
  </body>
</html>
